.loading-container {
  z-index: 10;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  background: $color-accent;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  &.rounded {
    border-radius: 1rem;
  }
}

.lds-dual-ring {
  display: inline-block;
  opacity: 1;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $primary-color__dark;
  border-color: $primary-color__dark transparent $primary-color__dark
    transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
