$primary-color: #9b6ffa;
$primary-color__light: #dac8ff;
$primary-color__lighter: #eee6fe;
$primary-color__dark: #835ed1;

$color-accent: #ffffff;
$color-success: #5cb85c;
$color-success__dark: #56aa56;
$color-success__light: #78dd78;
$color-danger: #d9534f;
$color-danger__dark: #c44d49;
$color-warning: #f0ad4e;

$text-color: #5e5e5e;
$border-color: #e2e2e2;
$row-color: #f4efff;

$default-font-family: "ubuntu";
$default-font-size: 16;
$default-box-shadow: 2px 2px 3px #999;
